<h2>Adding player details</h2>


<form class="container col-md-4" #formData="ngForm" (ngSubmit)="addPlayer(formData.value)">
    <div class="form-group">
        <label for="playerId">Enter PLAYERID:</label>
        <input type="number" id="playerId" class="form-control" name="playerId" ngModel required />
    </div>

    <div class="form-group">
        <label for="playerName">Enter PLAYERNAME:</label>
        <input type="text" id="playerName" class="form-control" name="playerName" ngModel required />
    </div>

    <div class="form-group">
        <label for="jerseyNumber">Enter JERSEYNUMBER:</label>
        <input type="number" id="jerseyNumber" class="form-control" name="jerseyNumber" ngModel required />
    </div>

    <div class="form-group">
        <label for="roles">Select ROLE:</label>
        <select id="roles" class="form-control" name="roles" ngModel required>
            <option [value]="null" disabled selected>Select Role</option>
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="totalMatches">Enter TOTALMATCHES:</label>
        <input type="number" id="totalMatches" class="form-control" name="totalMatches" ngModel required />
    </div>

    <div class="form-group">
        <label for="teamName">Enter TEAMNAME:</label>
        <input type="text" id="teamName" class="form-control" name="teamName" ngModel required />
    </div>
    <div class="form-group">
        <label for="country">Enter Country:</label>
        <input type="text" id="country" class="form-control" name="country" ngModel required />
    </div>
    <div class="form-group">
        <label for="description">Enter Description:</label>
        <input type="text" id="description" class="form-control" name="description" ngModel required />
    </div>

 

    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Add Player</button>
</form>

